In [258]:
import pandas as pd
import json
import requests
import geopy
from geopy import distance

In [259]:
myurl = '/Users/yogevladani/study/year c/ניתוח בפייתון/מטלות/matala3/dests.txt'

In [260]:
destinations = [line.rstrip() for line in open(myurl)]
destinations
origion='tel aviv'
destinations

['Istanbul', 'Amsterdam', 'Valletta', 'Basel', 'Doha']

### Create list for the distance and duration and append the values for every destionation from the text file.

In [261]:
distances=[]
durations=[]

for i in range(0,len(destinations)):
    api_key='AIzaSyBgx8GGLewIETzahZVWd__yeREFmN-VM24'
    url="https://maps.googleapis.com/maps/api/distancematrix/json?origins=%s&destinations=%s&=imperial&key=%s" % (origion,destinations[i],api_key)

    try:
        response = requests.get(url)
        if not response.status_code == 200:
            print("HTTP error",response.status_code)
        else:
            try:
                response_data = response.json()
            except:
                print("Response not in valid JSON format")
    except:
        print("Something went wrong with requests.get")
    
    distances.append(response_data['rows'][0]['elements'][0]['distance']['value'])
    durations.append(response_data['rows'][0]['elements'][0]['duration']['text'])

In [269]:
print(distances,'\n',durations)

[1815227, 4534843, 3792883, 4092805, 2164477]
 ['21 hours 3 mins', '2 days 0 hours', '2 days 3 hours', '1 day 20 hours', '22 hours 39 mins']

### Create list for the lng and lat and append the values for every destionation from the text file.

In [263]:
lng=[]
lat=[]

for i in range (0,len(destinations)):
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s"  % (destinations[i],api_key)
    try:
        response = requests.get(url)
        if not response.status_code == 200:
            print("HTTP error",response.status_code)
        else:
            try:
                response_data = response.json()
            except:
                print("Response not in valid JSON format")
    except:
        print("Something went wrong with requests.get")
    lat.append(response_data['results'][0]['geometry']['location']['lat'])
    lng.append(response_data['results'][0]['geometry']['location']['lng'])

In [270]:
print(lat,'\n',lng)

[41.0082376, 52.3675734, 35.8992375, 47.5595986, 25.2854473]
 [28.9783589, 4.9041389, 14.5140996, 7.5885761, 51.53103979999999]

### Create the data

In [271]:
data={'Target':destinations,'Distance_km':distances,'Duration (hour+minutes)':durations,'Longitude':lng,'latitude':lat}

In [272]:
data=pd.DataFrame(data)
data

      Target  Distance_km Duration (hour+minutes)  Longitude   latitude
0   Istanbul      1815227         21 hours 3 mins  28.978359  41.008238
1  Amsterdam      4534843          2 days 0 hours   4.904139  52.367573
2   Valletta      3792883          2 days 3 hours  14.514100  35.899237
3      Basel      4092805          1 day 20 hours   7.588576  47.559599
4       Doha      2164477        22 hours 39 mins  51.531040  25.285447

### Use nlargest(n) to get the 3 longest distances

In [273]:
data.Distance_km.nlargest(3)

1    4534843
3    4092805
2    3792883
Name: Distance_km, dtype: int64

In [274]:
data.loc[data['Distance_km'].nlargest(3).index, ['Target','Distance_km']]

      Target  Distance_km
1  Amsterdam      4534843
3      Basel      4092805
2   Valletta      3792883

In [ ]:
s